html,
body {
  /* height: 100%; */
  /* background-image: url("./images/background.png"); */
  /* overflow-y: hidden; */
  /* overflow-x: hidden !important; */
  background-color: #fbfbfb;
  /* font-size: 18px !important; */
  
}

.icon{
  height: 50px !important;
  width: 50px !important;
}

.modalTxt{
  text-align: center !important;
}
