html,
body {
  /* height: 100%; */
  /* background-image: url("./images/background.png"); */
  /* background-image: no repeat; */
  /* background-repeat: no-repeat; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden !important; */
  background-color: #fbfbfb;
  /* font-size: 18px !important; */
  
}

.icon{
  height: 50px !important;
  width: 50px !important;
}

.modalTxt{
  text-align: center !important;
}

.hide{
  display: none;
}

.scrollDiv{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-color: #fbfbfb;
  /* border: 1px solid black; */
  padding: 2%;
  border-radius: 10px;
  margin-top: -10%;
}
